/* ---- General html items ---- */
body {
    background-color: rgb(160, 129, 158);
}

h1 {
    font-size: 36px;
    font-style: ariel;
    text-align: center;
}
p1{
    font-size: 28px;
    font-style: ariel;
    color: rgb(0, 0, 0);
    text-align: center;
}
a {
    color: white;
    text-decoration: underline;
    font-size:20px solid;
}
a:hover {
    color: blue;
    text-decoration: none;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 27px;
}
p {
    font-size: 25px;
   color: rgb(0, 0, 0);
}
 

li{
    color: aliceblue;
    font-size: 25px;
}

/* ---- Back to top button ---- */

body {
    display: grid;
    grid-template-columns:justify; 
    }

.top {
--offset: auto; 

position: sticky; right: 80px;
bottom: 80px;      
margin-right: 80px; 
place-self: end;
margin-top: calc(100vh + var(--offset));

/* visual styling */

text-decoration: none;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #1a0614;
background: aliceblue;
border-radius: 10px;
white-space: nowrap;
}

.container-top {
display: flex;
align-items: flex-end;
width: 60px;
}

.top {
position: sticky;
bottom: 80px;      
margin-right: 80px; 
}


/* ---- header-grid ----- */
.container {
    border: none;
    background-color:  #f0cfe7;
    border: size style color;
    border-radius: 8px;;
    width: 100%;
    margin: left;
    padding: 0;
    border: 5px solid rgb(233, 220, 229)
    }

.h1-h2 {
        text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

    /* ---- side bar or Nav_container-grid --- */

.flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-around;
     align-items: stretch;
}


.container2 {
    display: inline;

    border: none;
    border-radius: 8px;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: 400px;
    margin: left;
    padding: 1rem;
    border: 5px solid rgb(233, 220, 229) 

}

#sidebar {
    background-color: #4b2840;
    height: 60px;
    font-size: 21px;
    font-weight: bold;
    border: #f0cfe7;
    padding: 0.5rem;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

}

#sidebar li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
}

#sidebar a {
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px 15px;
    vertical-align: middle;

}

#sidebar a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(184, 145, 171);
}


/* ---- footer grid --- */

.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(184, 145, 171);
    border: style color;
    
    width: 100%;
    margin: left;
    padding: 1rem;
    border: 5px solid rgb(233, 220, 229) 
}


   /* ---- hero or banner area --- */

.main-image{
    position: center;
    background: url(../digital-resume/images/my-background1.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    width: 100%;   
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style of the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style of the submit button */
  input[type=submit] {
    background-color: #ebbdea;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style of the container */
  .container4 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout of the form, Tbalet or iPad - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 768px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;

    }
    p{
        font-size: 1.30em;
        color: aliceblue;
    }
    p1{
        font-size: 1.25em;
        color: aliceblue;
    }

  }

  /* Mobile Phone Responsive layout of the resume - when the screen is less than 480px wide */

@media screen and (max-width: 480px) {

    h1 {
        font-size: 1.80em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.45em;
    }
    p{
        font-size: 1.30em;
        color: aliceblue;
    }
    p1{
        font-size: 1.25em;
        color: aliceblue;
    }
    li{
        color: aliceblue;
        font-size: 1.20em;
    }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
}

